/* global.css:アプリ全体のスタイリングを記載。どのページでも適用するstyleを書く
基本_app.js以外では呼び出さない。 */

/* Tailwind CSSのフォント設定。GoogleフォントからSpace Monoを@import。 */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* Tailwindのディレクティブ */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 共通の設定をclassとして */
@layer components {
  .btn-primary {
    @apply border-2 border-black text-black tracking-widest font-semibold rounded px-20 py-4 m-2 transition duration-300 select-none font-spacemono text-2xl;
  }
}


/* * {
  font-family: "ヒラギノ角ゴ";
} */

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
} */

/* a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
