# dockerignoreとは、DockerfileのCOPYコマンドでコピーしたくないファイルやディレクトリを指定するファイル
# のことです。dockerignoreはビルドコンテキストルートにある.dockerignoreファイルしか読み込まれません。
# サブディレクトリにある.dockerignoreファイルは読み込まれません。そのため、.dockerignoreファイルはビルド
# 時にルートとなるディレクトリに配置しておきましょう。

**/node_modules/
**/.git
**/npm-debug.log